<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases>
		<typeAlias type="egg.cinema.admin.model.CinemaDTO" alias="cdto"/>
		<typeAlias type="egg.schedule.admin.model.AdminScheduleDTO" alias="asdto"/> 
		<typeAlias type="egg.movie.admin.model.AdminMovieDTO" alias="amvdto"/>
		<typeAlias type="egg.movie.model.MovieDTO" alias="mvdto"/>
		<typeAlias type="egg.member.model.MemberDTO" alias="mdto"/>
		<typeAlias type="egg.moviePayment.model.MoviePaymentDTO" alias="mpdto"/>
		<typeAlias type="egg.reservation.model.ReservationDTO" alias="rdto"/>
		<typeAlias type="egg.statics.admin.model.AdminStaticsDTO" alias="atdto"/>
  	</typeAliases>
  	<mappers>
		<mapper resource="sql/adminSteelCutSql.xml"/>
		<mapper resource="sql/adminCinemaSql.xml"/>  
		<mapper resource="sql/adminScheduleSql.xml"/>
		<mapper resource="sql/adminMovieSql.xml"/>
		<mapper resource="sql/adminSteelCutSql.xml"/>
		<mapper resource="sql/movieInfoSql.xml"/>
		<mapper resource="sql/scheduleSql.xml"/>
		<mapper resource="sql/memberSql.xml"/>
		<mapper resource="sql/movieReservation.xml"/>
		<mapper resource="sql/moviePayment.xml"/>
		<mapper resource="sql/adminStaticsSql.xml"/>
  	</mappers>
  </configuration>  