@charset "UTF-8";
.mypageHeader {
	padding: 2px 0px 10px 15px;
	margin-top: 15px;
	background-color: #D8D8D8;
	border-bottom: 4px solid #F4FA58;
	margin: 0px auto;
}

#mypageNav {
	margin-top: 30px;
	margin-left: 10px;
}

#mypageCol {
	border: 1px solid #D8D8D8;
	text-align: center;
	padding: 5px 0px 0px 0px;
}

#updateTr {
	width: 20%;
	font-size: 15px;
	padding-top: 15px;
	text-align: center;
	background-color: #F3E2A9;
}

#changeTr {
	width: 20%;
	font-size: 15px;
	padding-top: 15px;
	text-align: center;
	background-color: #F3E2A9;
}

#deleteTr {
	width: 20%;
	font-size: 15px;
	padding-top: 15px;
	text-align: center;
	background-color: #F3E2A9;
}



#inquiryCol {
	width: 20%;
	font-size: 15px;
	padding-top: 15px;
	text-align: center;
	background-color: #F3E2A9;
}

#updateTd {
	padding-left: 40px;
}

#deleteTd {
	padding-left: 40px;
}

#changeTd {
	padding-left: 40px;
}

#divMypageContainer {
	margin-top: 100px;
}

#updateMemberCol {
	padding-left: 45px;
}